<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Password Update</title>
    <link rel="stylesheet" th:href="@{/css/mainstyle.css}"/>
    <link rel="stylesheet" th:href="@{/css/cpasswordstyle.css}"/>
    <style>
        html {
            overflow-y: scroll;
        }
    </style>
</head>
<body>
<div style="padding: 20px" th:replace="~{mainheader :: mainheader}"></div>
<div id="pchange">
    <form th:action="@{/passwordchange/process}" method="post">
        <h2>Password Update</h2>
        <div th:if="${errormessage}" class="error-message">
            <p th:text="${errormessage}"></p>
        </div>
        <label for="password">New Password:</label>
        <input type="password" id="password" name="password" required/>
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required/>
        <button type="submit">Save Changes</button>
    </form>
</div>
</body>
</html>
