<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/mainstyle.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/passwordstyle.css}"/>
    <style>
        html {
            overflow-y: scroll;
        }
    </style>

    <title>Title</title>
</head>
<body>
<div style="padding: 20px" th:replace="~{mainheader :: mainheader}"></div>
<div id="passwordrequestform">
<form th:action="@{/passwordrequest/process}" method="post">
    <fieldset>
        <legend>Request Form</legend>
        <div th:if="${errormessage}" class="error-message">
            <p th:text="${errormessage}"></p>
        </div>
        <label for="email">Email</label>
        <input type="text" id="email" name="email" autofocus="autofocus" required/>
        <input type="submit" value="Send Request"/>
    </fieldset>
</form>
</div>
</body>
</html>
